@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?otglds');
  src:  url('fonts/icomoon.eot?otglds#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?otglds') format('truetype'),
    url('fonts/icomoon.woff?otglds') format('woff'),
    url('fonts/icomoon.svg?otglds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bt-ic-"], [class*=" bt-ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bt-ic-tri-down:before {
  content: "\e902";
}
.bt-ic-tri-left:before {
  content: "\e903";
}
.bt-ic-tri-right:before {
  content: "\e904";
}
.bt-ic-tri-up:before {
  content: "\e905";
}
.bt-ic-bit:before {
  content: "\e900";
}
.bt-ic-dot:before {
  content: "\e901";
}
.bt-ic-bell:before {
  content: "\e951";
}
.bt-ic-user:before {
  content: "\e971";
}
.bt-ic-spinner3:before {
  content: "\e97c";
}
.bt-ic-lock:before {
  content: "\e98f";
}
.bt-ic-blocked2:before {
  content: "\ea0f";
}
.bt-ic-cross:before {
  content: "\ea10";
}
.bt-ic-checkmark:before {
  content: "\ea11";
}
.bt-ic-backward2:before {
  content: "\ea1f";
}
.bt-ic-forward3:before {
  content: "\ea20";
}
.bt-ic-first:before {
  content: "\ea21";
}
.bt-ic-last:before {
  content: "\ea22";
}
.bt-ic-previous2:before {
  content: "\ea23";
}
.bt-ic-next2:before {
  content: "\ea24";
}
.bt-ic-arrow-up2:before {
  content: "\ea3a";
}
.bt-ic-arrow-right2:before {
  content: "\ea3c";
}
.bt-ic-arrow-down2:before {
  content: "\ea3e";
}
.bt-ic-arrow-left2:before {
  content: "\ea40";
}
.bt-ic-radio-checked2:before {
  content: "\ea55";
}
.bt-ic-mail3:before {
  content: "\ea85";
}
.bt-ic-blocked:before {
  content: "\ea0e";
}
.bt-ic-radio-checked:before {
  content: "\ea54";
}
