@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('@{icomoon-font-path}/icomoon.eot?otglds');
  src:  url('@{icomoon-font-path}/icomoon.eot?otglds#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/icomoon.ttf?otglds') format('truetype'),
    url('@{icomoon-font-path}/icomoon.woff?otglds') format('woff'),
    url('@{icomoon-font-path}/icomoon.svg?otglds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bt-ic-"], [class*=" bt-ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bt-ic-tri-down {
  &:before {
    content: @bt-ic-tri-down;
  }
}
.bt-ic-tri-left {
  &:before {
    content: @bt-ic-tri-left;
  }
}
.bt-ic-tri-right {
  &:before {
    content: @bt-ic-tri-right;
  }
}
.bt-ic-tri-up {
  &:before {
    content: @bt-ic-tri-up;
  }
}
.bt-ic-bit {
  &:before {
    content: @bt-ic-bit;
  }
}
.bt-ic-dot {
  &:before {
    content: @bt-ic-dot;
  }
}
.bt-ic-bell {
  &:before {
    content: @bt-ic-bell;
  }
}
.bt-ic-user {
  &:before {
    content: @bt-ic-user;
  }
}
.bt-ic-spinner3 {
  &:before {
    content: @bt-ic-spinner3;
  }
}
.bt-ic-lock {
  &:before {
    content: @bt-ic-lock;
  }
}
.bt-ic-blocked2 {
  &:before {
    content: @bt-ic-blocked2;
  }
}
.bt-ic-cross {
  &:before {
    content: @bt-ic-cross;
  }
}
.bt-ic-checkmark {
  &:before {
    content: @bt-ic-checkmark;
  }
}
.bt-ic-backward2 {
  &:before {
    content: @bt-ic-backward2;
  }
}
.bt-ic-forward3 {
  &:before {
    content: @bt-ic-forward3;
  }
}
.bt-ic-first {
  &:before {
    content: @bt-ic-first;
  }
}
.bt-ic-last {
  &:before {
    content: @bt-ic-last;
  }
}
.bt-ic-previous2 {
  &:before {
    content: @bt-ic-previous2;
  }
}
.bt-ic-next2 {
  &:before {
    content: @bt-ic-next2;
  }
}
.bt-ic-arrow-up2 {
  &:before {
    content: @bt-ic-arrow-up2;
  }
}
.bt-ic-arrow-right2 {
  &:before {
    content: @bt-ic-arrow-right2;
  }
}
.bt-ic-arrow-down2 {
  &:before {
    content: @bt-ic-arrow-down2;
  }
}
.bt-ic-arrow-left2 {
  &:before {
    content: @bt-ic-arrow-left2;
  }
}
.bt-ic-radio-checked2 {
  &:before {
    content: @bt-ic-radio-checked2;
  }
}
.bt-ic-mail3 {
  &:before {
    content: @bt-ic-mail3;
  }
}
.bt-ic-blocked {
  &:before {
    content: @bt-ic-blocked;
  }
}
.bt-ic-radio-checked {
  &:before {
    content: @bt-ic-radio-checked;
  }
}

